<style>
#num-text{
	border-radius:5px;
}

body{
	background-color:#B5C4E1;
}

.error{
	display:none;
}

.red{
		color: red;

}

 #error-banner {
    width: 100%;
    padding:5px;
    background: #FFE6B2;
    color: #C5A14E;
    position: absolute;
    left: 0;
    top: 0;
}
</style>